body {
    overflow: auto;
    height: auto;
    width: auto;
    background: url(sergey-zolkin-_UeY8aTI6d0-unsplash.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.page-content {
    padding: 50px 0px;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
}

.HD-form,
.AC-form {
    padding: 20px;
    border: 8px dashed #090b0a;
    background-color: #F9F9F9;
    text-align: right;
}

.HD-form input,
.AC-form input {
    border-radius: 0 !important;
    border: 3px solid #090b0a;
    direction: rtl;
}

.HD-form input:focus,
.AC-form input:focus {
    border: 3px solid #DAA520;
    box-shadow: none;
}

.clear-button {
    text-align: center !important;
    background-color: #9fa1a2;
    border-radius: 5%;
    border: 3px solid #090b0a;
    padding: 50px 30px;
    color: #111111;
    transition-duration: 0.3s;
}

.clear-button:hover {
    color: #DAA520;
    text-decoration: none;
}

footer {
    height: auto;
    width: 100%;
    background-color: #F9F9F9;
}

.footer-content {
    padding: 10px;
    text-align: center;
}

.footer-content span {
    display: block;
}